html{
    scroll-behavior: smooth;
  }
  :root{
      --pink: #ff5e94;
  }
  h1,h2,h3,h4,h5,h6{
      padding: 0;
      margin: 0;
  }
  p{
      padding: 0;
      margin: 0;
  }
  ul{
      padding: 0;
      margin: 0;
  }
  h1{
      font-weight: bold;
  }
  .form-control{
      height: 50px;
      margin-bottom: 15px;
  }
  /* .section-title{
      margin-bottom: 50px;
      text-align: center;
  } */
  .float-right{
      float: right!important;
  }
  a:hover{
    /* text-decoration: none; */
}
  .btn{
      text-align: center;
      /* background-color: var(--pink); */
      color: #fff;
      text-decoration: none;
      /* border: 2px solid var(--pink); */
      padding: 12px 20px;
      transition: .5s all ease;
      border-radius: 10px;
  }
  .btn:hover{
      background-color: transparent;
      color: #fff;
  }
  section{
      padding: 100px 0;
  }
  .mb-50{
    margin-bottom: 50px;
}
 .mb-30{
    margin-bottom: 30px;
}
.pb-50{
    padding-bottom: 50px;
}
.pb-70{
    padding-bottom: 70px;
}
.color-white{
    color: #fff;
}
.section-title{
    font-weight: bold;
    text-align: center;
}
.bold{
    font-weight: bold;
}

#main-banner{
    background-image: url(../images/main-banner/main-background.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.main-icon a{
    font-size: 25px;
    color: #fff;
}
.main-btn1 .btn{
    width: 300px;
    background-color: #48B5B9;
}
.main-btn2 .btn{
    width: 300px;
    background-color: #44CEDE;
}
.main-btn3 .btn{
    width: 300px;
    background-color: #F8CE1D;
}
.main-btn4 .btn{
    width: 370px;
    border-radius: 0;
    border: 2px solid #fff;
}
.main-right-head h2{
    font-size: 30px;
    color: #fff;
}

/* ================================
===============Factory===============
===================================== */
#factory{
   background-image: url(../images/factory/factory.png);
   background-repeat: no-repeat;
   background-size: cover;
   color: #fff;
}
.factory-small-img-1{
    width: 70px;
}
.factory-small-img-2{
    width: 30px;
}
.factory-small-img-3{
    width: 30px;
}
.factory-safety-link a{
    color: #fff;
}

.logo-head{
    color: #b4b3b3;
}
/* ================================
===============Question===============
===================================== */
#question{
    background-image: url(../images/question/question-background.png);
    background-repeat: no-repeat;
   background-size: cover;
    color: #fff;
    /* padding: 0 0 10px 0; */
}
.question-link a{
    color: #fff;
}
.follow-head a{
    color: #b4b3b3;
    font-size: 20px;
}
#group-ticket{
    background-image: url(../images/group-ticket/group.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}
#contact{
    background-image: url(../images/contact/contact-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}
.contact-data a{
    color: #fff;
}
#casting{
    background-image: url(../images/casting/casting-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}
.casting-img img{
    padding: 0 0 50px 0;
}
footer{
    background: rgb(244,130,130);
    color: #fff;
}
.footer-icon a{
    font-size: 40px;
    color: #fff;
}
.footer-link a{
    color: #fff;
}